<web-app>
<servlet>
      <servlet-name>a1</servlet-name>
      <servlet-class>FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a1</servlet-name>
      <url-pattern>/first</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>a2</servlet-name>
      <servlet-class>SumServlet</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a2</servlet-name>
      <url-pattern>/sum</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>a3</servlet-name>
      <servlet-class>AddRecordServlet</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a3</servlet-name>
      <url-pattern>/addreco</url-pattern>
</servlet-mapping>

<servlet>
      <servlet-name>a4</servlet-name>
      <servlet-class>LoginServlet1</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a4</servlet-name>
      <url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
      <servlet-name>a5</servlet-name>
      <servlet-class>WelcomeServlet1</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a5</servlet-name>
      <url-pattern>/welcome</url-pattern>
</servlet-mapping>
<servlet>
      <servlet-name>a6</servlet-name>
      <servlet-class>ErrorServlet</servlet-class>
</servlet>
<servlet-mapping>
      <servlet-name>a6</servlet-name>
      <url-pattern>/error</url-pattern>
</servlet-mapping>

</web-app>